<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dział Utrzymania Ruchu</title>
    <th:block th:include="layout/header"></th:block>
</head>

<body>
<!--Pasek nawigacji-->
<th:block th:include="layout/navbar"></th:block>


    <div class="container">
        <form  action="#" th:action="@{/}" method="post" autocomplete="off">
                <div class="form-group row">
                    <div class="col-lg-11 col-sm-10 col-xs-8" >
                        <input class="form-control" type="text" th:name="salaId" placeholder="ID sali"/>
                    </div>
                    <div class="col-lg-1 col-sm-2 col-xs-4">
                        <button type="submit" class="btn btn-warning">Przejdź</button>
                    </div>
                </div>
        </form>

        <div class="row">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Budynek</th>
                        <th>Numer</th>
                        <th>Opis</th>
                        <th style="width: 5%">Usuń</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="sala : ${salaList}">
                        <td th:text="${sala.salaId}">1</td>
                        <td th:text="${sala.budynek}">A</td>
                        <td th:text="${sala.numer}">63</td>
                        <td th:text="${sala.opis}">63</td>
                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal" th:attr="data-target='#exampleModal1' + ${sala.salaId}">
                                <span class="glyphicon glyphicon-trash"></span></button>
                            <div class="modal fade" th:attr="id = 'exampleModal1' + ${sala.salaId}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel1">Potwierdzenie operacji</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Czy na pewno chcesz usunąć nastepujacy rekord?</p>
                                            <h5 th:text="${sala.budynek}+ ${sala.numer}" ></h5>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
                                            <a th:href="@{/salaDelete/{salaId}(salaId = ${sala.salaId})}" class="btn btn-danger">Tak</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

<th:block th:include="layout/bootstrap"></th:block>
</body>
</html>