<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dodaj projektor</title>
    <th:block th:include="layout/header"></th:block>
</head>

<body>

<!--Pasek nawigacji-->
<th:block th:include="layout/navbar"></th:block>

<div class="container">
    <h4 class="float-left mt-2">Projektor : Dodaj</h4>
    <div class="clearfix"></div>
    <form th:action="@{/sala/{salaId}/projektorAdd(salaId = ${salaId})}" th:object="${projektor}" action="#" method="post">

        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
            <p th:each="error : ${#fields.errors('*')}" class="m-0" th:text="${error}">Validation error</p>
        </div>

        <input type="hidden" th:field="*{projektorId}" th:class="${'form-control' + (#fields.hasErrors('projektorId') ? ' is-invalid' : '')}"/>
        <div class="form-group">

            <label for="model">Model</label>
            <input type="text" th:field="*{model}" th:class="${'form-control' + (#fields.hasErrors('model') ? ' is-invalid' : '')}">
        </div>
        <div class="form-group">

            <label for="numerSeryjny">Numer seryjny</label>
            <input type="text" th:field="*{numerSeryjny}" th:class="${'form-control' + (#fields.hasErrors('numerSeryjny') ? ' is-invalid' : '')}">
        </div>
        <div class="form-group">
            <label for="adresIp">Adres IP</label>
            <input th:field="*{adresIp}" th:class="${'form-control' + (#fields.hasErrors('adresIp') ? ' is-invalid' : '')}"></input>
        </div>
        <div class="form-group">
            <label for="adresMac">Adres MAC</label>
            <input th:field="*{adresMac}" th:class="${'form-control' + (#fields.hasErrors('adresMac') ? ' is-invalid' : '')}"></input>
        </div>
        <div class="form-group">
            <label for="wersjaOprogr">Wersja oprogramowania</label>
            <input th:field="*{wersjaOprogr}" th:class="${'form-control' + (#fields.hasErrors('wersjaOprogr') ? ' is-invalid' : '')}"></input>
        </div>
        <div class="form-group">
            <label for="opis">opis</label>
            <textarea th:field="*{opis}" th:class="${'form-control' + (#fields.hasErrors('opis') ? ' is-invalid' : '')}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Potwierdz</button>
    </form>
</div>
<th:block th:include="layout/bootstrap"></th:block>
</body>
</html>